<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EP_SEARCH</key>
	<string>search</string>
	<key>EP_TOP_SONGS</key>
	<string>us/rss/topsongs/limit=50/json</string>
</dict>
</plist>
