<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPGpgSbeAHo-ah25AsRokiD97u45QxDGg</string>
	<key>GCM_SENDER_ID</key>
	<string>352387897762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.id.aizid.PlayerApp</string>
	<key>PROJECT_ID</key>
	<string>playerapp-d0ace</string>
	<key>STORAGE_BUCKET</key>
	<string>playerapp-d0ace.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352387897762:ios:165a889b6b9350de603afb</string>
</dict>
</plist>